* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.main {
  background-color: #00a4d3;
  max-height: 1300px;
  overflow: hidden;
}

.logo {
  margin-top: 35px;
  margin-right: 50px;
}

.logo a img {
  width: 100%;
  height: auto;
}

.header {
  color: #fff;
}

.header_phone {
  margin-right: 30px;
}

.header_search {
  margin-right: 30px;
}

.header_register {
  margin-right: 30px;
}

.header input {
  background-color: #049ac5;
  border: none;
  height: 20px;
}

.header i {
  margin-right: 5px;
}

.header a {
  text-decoration: none;
  color: #fff;
  opacity: 0.9;
}

.header a:hover {
  opacity: 1;
}

.header_menu {
  width: 100%;
  text-align: center;
}

.header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header_menu ul li a:after {
  content: '';
  background-color: #fff;
  opacity: 0.9;
  height: 2px;
  display: block;
  margin-top: 5px;
  -webkit-transform: translateY(5px) scale(0);
      -ms-transform: translateY(5px) scale(0);
          transform: translateY(5px) scale(0);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header_menu ul li a:hover:after {
  -webkit-transform: translateY(5px) scale(1);
      -ms-transform: translateY(5px) scale(1);
          transform: translateY(5px) scale(1);
}

.header_menu ul li a:active {
  font-weight: bold;
}

.checkbtn {
  margin: 0 auto;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.fa-search {
  margin-left: -20px;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #80d2e9;
  margin-top: 20px;
  margin-bottom: 16px;
}

div.slider {
  min-height: 600px;
  padding-bottom: 70px;
  max-width: 100%;
}

.slider {
  background-image: url(sliderbg.png);
  background-size: cover;
  height: 100%;
}

.slider_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_picture img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 50%;
}

.slider_title {
  padding-top: 170px;
  text-align: center;
  padding-bottom: 70px;
  max-width: 100%;
}

.slider_title h1 {
  color: #00a4d3;
  font-family: 'Dosis', sans-serif;
  font-size: 4em;
  margin-bottom: 40px;
}

.slider_title p {
  color: #00a4d3;
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  margin-bottom: 30px;
}

.slider_title button {
  color: #fff;
  background-color: #00a4d3;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.slider_title button:hover {
  -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 0.8;
}

.welcome {
  background-color: #00a4d3;
  overflow: hidden;
}

.welcome_bg {
  background-image: url(welcomebg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.welcome_to {
  max-width: 270px;
  margin: 50px auto;
}

.welcome_to span {
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  line-height: 40px;
}

.welcome_to h2 {
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  line-height: 60px;
}

.welcome_to p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
}

.welcome_to button {
  background-color: #fff;
  color: #00a4d3;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-top: 30px;
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.welcome_to button:hover {
  -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 0.8;
}

.welcome_content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

.welcome_img img {
  max-width: 275px;
  height: auto;
}

.courses {
  height: auto;
  overflow: hidden;
  padding: 30px 0;
}

.courses_title {
  max-width: 400px;
}

.courses_title h2 {
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  color: #00a4d3;
}

.courses_title p {
  color: #00a4d3;
  font-family: 'Roboto', sans-serif;
  padding-top: 15px;
}

.courses_content {
  padding: 30px 0;
  margin: 0;
}

.courses_card {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  max-width: 283px;
  height: auto;
}

.courses_card span,
.courses_card h3,
.courses_card p,
.courses_card a {
  padding: 0 40px;
  font-family: 'Roboto', sans-serif;
}

.courses_card i {
  color: #3f3f3f;
  padding-right: 8px;
  margin-top: 35px;
}

.courses_card span {
  color: #3f3f3f;
  font-size: 0.8rem;
  margin-top: 35px;
}

.courses_card h3 {
  line-height: 40px;
  font-size: 1.2rem;
}

.courses_card p {
  color: #3f3f3f;
  line-height: 25px;
  font-size: 1rem;
}

.courses_card a {
  text-decoration: none;
  color: #00a4d3;
  line-height: 60px;
  font-size: 1.1rem;
}

.courses_img {
  margin: 0;
  padding: 0;
}

.courses_img img {
  max-width: 100%;
  height: auto;
}

.courses button {
  color: #fff;
  background-color: #00a4d3;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.courses button:hover {
  -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 0.8;
}

.facilities {
  background-color: #00a4d3;
}

.facilities_bg {
  background-image: url(facilitiesbg.png);
}

.facilities_content {
  max-width: 400px;
}

.facilities_wrapper {
  padding: 40px 0;
}

.facilities_wrapper img {
  max-width: 400px;
}

.facilities_wrapper h2 {
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  line-height: 50px;
  max-width: 400px;
}

.facilities_wrapper p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  max-width: 400px;
}

.facilities_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facilities_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
  font-size: 9px;
  font-family: 'Roboto', sans-serif;
  width: 120px;
  height: 120px;
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
}

.facilities_item span {
  color: #00a4d3;
  line-height: 20px;
}

.teachers_title h2 {
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  color: #00a4d3;
  line-height: 50px;
  margin-top: 20px;
}

.teachers_title p {
  color: #00a4d3;
  font-family: 'Roboto', sans-serif;
}

.teachers_card {
  padding: 70px 0;
}

.teachers_item {
  position: relative;
  margin-bottom: 30px;
}

.teachers_item img {
  max-width: 100%;
}

.teachers_name {
  position: absolute;
  bottom: 20px;
  left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.teachers_name h4 {
  font-family: 'Dosis', sans-serif;
  margin-right: 10px;
}

.teachers_name span {
  font-family: 'Roboto', sans-serif;
}

.news {
  background-color: #00a4d3;
  padding: 40px 0;
  color: #fff;
}

.news h2 {
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  line-height: 50px;
}

.news span {
  display: block;
  line-height: 60px;
}

.news a {
  text-decoration: none;
  color: #fff;
}

.news a:hover {
  color: #DCDCDC;
}

.news a img {
  max-width: 100%;
  border-radius: 23px;
  -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.news a img:hover {
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.news_bg {
  background-image: url(newsbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.news_item {
  padding: 30px 0;
}

.information {
  text-align: center;
  padding: 40px 0;
  overflow: hidden;
}

.information_item {
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
}

.information_item img {
  height: 60px;
}

.information_item h5 {
  font-size: 18px;
  color: #00a4d3;
  font-family: 'Dosis', sans-serif;
  padding: 15px 0;
}

.information_item p {
  color: #3f3f3f;
  font-family: 'Roboto', sans-serif;
}

.footer {
  overflow: hidden;
}

.footer-top {
  background-color: #00a4d3;
  height: 240px;
  position: relative;
}

.footer-top_cloud {
  position: absolute;
  bottom: -100px;
  z-index: 1;
}

.footer-top_rainbow {
  position: absolute;
  right: 0;
}

.footer-down {
  position: relative;
  background-color: #fff;
  height: 800px;
  padding: 80px 0;
}

.footer-down_bg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-down_logo {
  text-align: center;
}

.footer-down_form input {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #00a4d3;
  width: 340px;
}

.footer-down_form button {
  color: #fff;
  background-color: #00a4d3;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer-down_form button:hover {
  -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 0.8;
}

.footer-down_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-down_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-down_copy {
  color: #00a4d3;
  text-align: right;
  opacity: 0.8;
  margin-top: 30px;
}

.footer-down_adress {
  margin-right: 30px;
}

.footer-down_adress,
.footer-down_quicklinks,
.footer-down_social {
  margin-top: 100px;
}

.footer-down_adress h4,
.footer-down_quicklinks h4,
.footer-down_social h4 {
  color: #00a4d3;
  font-family: 'Dosis', sans-serif;
  line-height: 40px;
}

.footer-down_adress span,
.footer-down_quicklinks span,
.footer-down_social span {
  color: #00a4d3;
  line-height: 25px;
  margin-right: 5px;
}

.footer-down_adress ul,
.footer-down_quicklinks ul,
.footer-down_social ul {
  list-style: none;
}

.footer-down_adress p,
.footer-down_adress a,
.footer-down_quicklinks p,
.footer-down_quicklinks a,
.footer-down_social p,
.footer-down_social a {
  color: #3f3f3f;
}

.footer-down_adress a,
.footer-down_quicklinks a,
.footer-down_social a {
  text-decoration: none;
  line-height: 25px;
}

.footer-down_adress a:hover,
.footer-down_quicklinks a:hover,
.footer-down_social a:hover {
  opacity: 0.8;
}

.footer-down_adress p,
.footer-down_quicklinks p,
.footer-down_social p {
  margin-bottom: 20px;
}

.footer-down_adress i,
.footer-down_quicklinks i,
.footer-down_social i {
  font-size: 30px;
  color: #00a4d3;
  margin-right: 40px;
}

.information_item {
  margin-bottom: 30px;
  max-width: 200px;
}

@media (max-width: 992px) {
  .footer-down_logo {
    margin-bottom: 30px;
  }

  .footer-down_adress,
  .footer-down_quicklinks,
  .footer-down_social {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .checkbtn {
    display: block;
  }

  .header_phone,
  .header_search,
  .header_register,
  .header_email,
  .header_login {
    margin: 10px auto;
  }

  .header_menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00a4d3;
    z-index: 1;
    top: 0;
    left: -100%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header_menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }

  .header_menu ul li {
    padding: 7px 0;
  }

  .header_menu ul li a:after {
    display: none;
  }

  #check:checked ~ .header_menu {
    left: 0;
  }

  .slider_content {
    display: block;
  }

  .slider_title {
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .footer-down_social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }

  .footer-down_copy {
    font-size: 0.9rem;
  }
}

@media (max-width: 456px) {
  .footer-down_form input {
    width: 240px;
  }
}

@media (max-width: 450px) {
  .facilities_content {
    max-width: 300px;
  }

  .facilities_content img {
    max-width: 300px;
  }

  .facilities_item {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}

@media (max-width: 385px) {
  .header_phone,
  .header_search,
  .header_register,
  .header_email,
  .header_login {
    margin: 5px 5px;
  }

  .header input {
    width: 100px;
  }

  .footer-down_form input {
    width: 200px;
  }
}

@media (max-width: 992px) and (min-width: 767px) {
  .footer-down_social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.webp .slider { background-image: url(sliderbg.webp); }

.webp .welcome_bg { background-image: url(welcomebg.webp); }

.webp .facilities_bg { background-image: url(facilitiesbg.webp); }

.webp .news_bg { background-image: url(newsbg.webp); }